<form name="frmdata" method='post' enctype='multipart/form-data' action="http://www.rzp.cz/cgi-bin/aps_cacheWEB.sh">
<input type="hidden" name="VSS_SERV" value="ZVWSBJXML">
<input type="file" name="filename">
<input type='submit' name='x' value='ODESLI'>
</form>